.compose-drafts {
    font-family: sans-serif;
    display: flex;
    align-items:stretch;
    justify-content:baseline;
    flex-direction:row;
    /* gap: 20px; */
    width: 100%;
    height: calc(100vh - 70px);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
}

.drafts-sidebar {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../images/sidebar_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: large;
}

.drafts-list {
    display: flex;
    width: 100%;
    height: 100%;
}


.table-rows:hover {
    cursor: pointer;
}

